Flask==0.10.1
Flask-Login==0.3.2
Flask-RESTful==0.3.3
Flask-Restless==0.17.0
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
Jinja2==2.8
MySQL-python==1.2.5
npm==0.1.1
SQLAlchemy==1.0.12
Werkzeug==0.8.3
WTForms==2.1